/* Général */
body {
    font-family: Arial, sans-serif;
}

.container {

}

h2 {
    font-family: Corbel;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

/* Cartes de trajets */
.trajet-card {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.trajet-info {
    display: flex;
    flex-direction: column;
    flex: 1; /* Ajouté pour répartir l'espace */
}

.trajet-location {
    font-weight: bold;
    font-size: 1.2em;
    font-family: Corbel;
    margin-right: 10%;
}

.trajet-dates,
.trajet-places {
    font-size: 0.9em;
    margin-top: 8px;
    margin-right: 10%;
}

.trajet-conducteur {
    font-size: 0.9em;
    text-align: right; /* Ajouté pour aligner le texte à droite */
}

/* Responsive */
@media screen and (max-width: 767px) {
    .trajet-card {
        flex-direction: column;
        text-align: left;
    }

    .trajet-conducteur {
        margin-top: 10px;
        text-align: left; /* Ajouté pour rétablir l'alignement à gauche sur les petits écrans */
    }
}
